/* Put here any 'index.html' specific css */

.header-border {
    box-sizing: border-box;
    position: fixed;
    top: var(--header-height);
    display: flex;
    min-height: 5px;
    width: 100%;
    background: linear-gradient(45deg, #61efce 0%, #ff93ff 100%);
    z-index: 100;
    box-shadow: 0px 0px 20px 8px black;
}

.games-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 50px;
}

.game-button {
    box-sizing: border-box;
    position: relative;
    display: flex;
    background-position: center;
    background-size: contain;
    width: 250px;
    height: 250px;
    padding: 0;
    margin-bottom: 40px;
    border-radius: 50%;
    border: none;
}
/* .game-button::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    width: 100%;
    height: 30px;
    padding: 0;
    background-image: url('../../../../medias/images/Parental_Advisory_label.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
} */

.inactive-button {
    /* filter: grayscale(100%); */
    /* opacity: .5; */
}
.inactive-button::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffbe;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 0;
    background-image: url('../../../../medias/images/coming-soon-small.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}